<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{{logincsspath}}" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Yesla" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="apple-touch-icon" href="../static/images/logo.png" />
    <link rel="icon" href="../static/images/favicon.png" type="image/x-icon" sizes="16x16" />
  </head>
  <body>
    <div class="login-wrapper">
      <h2>Login</h2>
      <form method="post" action="loginpost" id="login-form">
        <input type="text" name="userName" placeholder="Email & ID" />
        <input type="password" name="userPassword" placeholder="Password" />
        <input type="submit" value="Login" />
      </form>
    </div>
  </body>
</html>
